.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning, .rmdtodo {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #ffe 5px center/3em no-repeat;
  border-color: #dd5;
  border-style: solid;
  border-width: 1.5px;
}
.rmdcaution {
  background-image: url("../images/icons/caution.png");
}
.rmdimportant {
  background-image: url("../images/icons/important.png");
}
.rmdnote {
  background-image: url("../images/icons/note.png");
}
.rmdtip {
  background-image: url("../images/icons/tip.png");
}
.rmdwarning {
  background-image: url("../images/icons/warning.png");
}
.rmdtodo {
  background-image: url("../images/icons/todo.png");
}
